.ass_logo{
    max-width: 200px;
    max-height: 200px;
}

#flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 3;
}

body
{
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;    
}